<section class="content">
    <div class="block-content">
        <h3 class="block-title">FUNERARIA JOSE GALINDO</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="filters">

                    <!--<ul id="filters">
                    <span>Filters :</span>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".artwork">Art Work</li>
                        <li data-filter=".webdesign">Web Design</li>
                        <li data-filter=".design">Design</li>
                    </ul>-->
                </div>
                <div class="block-content">
                    <h3 class="block-title">Servicios</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 service">
                            <div class="service-icon">
                                <i class="ion-laptop"></i>
                            </div>
                            <h4>Entierro</h4>
                            <p>En Funeraria Jose Galindo respetamos mucho la sensibilidad de los deudos, apoyamos
                                cualquier tipo de
                                costumbre o creencias. Nosotros Funerarias
                                Jose Galindo somos un equipo de profesionales comprometidos al servicio, en todo
                                momento, por
                                ello en
                                Funeraria Jose Galindo trabajamos
                                con todos los cementerios, sean públicos o privados, teniendo conocimiento de las
                                restricciones de
                                cada cementerio y
                                respetando sus protocolos, tanto en Lima como en Provincia.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 service">
                            <div class="service-icon">
                                <i class="ion-pie-graph"></i>
                            </div>
                            <h4>Cremacion</h4>
                            <p>En Funeraria Jose Galindo respetamos mucho la sensibilidad de los deudos, apoyamos
                                cualquier tipo de
                                costumbre o creencias. Nosotros Funeraria Jose Galindo somos un equipo de profesionales
                                comprometidos al servicio, en todo momento, por ello en
                                Funeraria Jose Galindo trabajamos
                                con todos los hornos crematorios de Lima, teniendo conocimiento de las restricciones de
                                cada horno
                                crematorio y respetando sus protocolos.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 service">
                            <div class="service-icon">
                                <i class="ion-paintbucket"></i>
                            </div>
                            <h4>Traslado</h4>
                            <p>En Funeraria Jose Galindo respetamos mucho la sensibilidad de los deudos, compartimos,
                                apoyamos
                                cualquier tipo de costumbre o
                                creencias. Nosotros Funerarias Peru somos un equipo de profesionales comprometidos al
                                servicio, en
                                todo momento, por
                                ello en Funeraria Jose Galindo trabajamos de la mano con las entidades responsables para
                                traslados
                                de féretros de Lima a
                                Provincia tanto en carretera como por avión, teniendo conocimiento de las restricciones
                                y respetando
                                los protocolos.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 service">
                            <div class="service-icon">
                                <i class="ion-printer"></i>
                            </div>
                            <h4>REPATRIACIONES</h4>
                            <p>En Funeraria Jose Galindo respetamos mucho la sensibilidad de los deudos, compartimos,
                                apoyamos
                                cualquier tipo de costumbre o
                                creencias. Nosotros Funerarias Jose Galindo somos un equipo de profesionales
                                comprometidos al
                                servicio, en todo momento, por ello en Funeraria Jose Galindo trabajamos de la mano con
                                las entidades responsables para
                                traslados
                                de féretros de Lima a
                                Provincia tanto en carretera como por avión, teniendo conocimiento de las restricciones
                                y respetando
                                los protocolos.</p>
                        </div>
                        <!--<div class="col-md-4 col-sm-6 service">
                                    <div class="service-icon">
                                        <i class="ion-qr-scanner"></i>
                                    </div>
                                    <h4>REPATRIACIONES</h4>
                                    <p>Funerarias Peru trabaja en conjunto con Repatriaciones de Peru, respetando mucho la sensibilidad de
                                        los deudos, apoyamos
                                        cualquier tipo de costumbre o creencias. En Funerarias Peru somos un equipo de profesionales
                                        comprometidos al servicio,
                                        en todo momento. Repatriaciones de Peru en conjunto con Funerarias Peru trabajamos de la mano con
                                        las entidades
                                        responsables para el traslado y repatriación de cadáver de Peru a cualquier parte del mundo,
                                        teniendo conocimiento de
                                        las restricciones de cada país y respetando sus protocolos.</p>
                                </div> -->
                        <!--<div class="col-md-4 col-sm-6 service">
                                    <div class="service-icon">
                                        <i class="ion-social-buffer"></i>
                                    </div>
                                    <h4>Print Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                                        laoreet.</p>
                                </div>-->
                    </div>
                </div>
                <div class="portfolio-container row isotope" id="portfolio-container">
                    <!-- WORK 1 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-1.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA </h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\1.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 1 END -->
                    <!-- WORK 2 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a class="open-project" href="project-2.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\2.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 2 END -->
                    <!-- WORK 3 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a class="open-project" href="project-3.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\3.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 3 END -->
                    <!-- WORK 4 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-4.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\4.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 4 END -->
                    <!-- WORK 5 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                        <a class="open-project" href="project-5.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\5.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 5 END -->
                    <!-- WORK 6 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                        <a class="open-project" href="project-6.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\6.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 6 END -->
                    <!-- WORK 7 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a class="open-project" href="project-1.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\7.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 7 END -->
                    <!-- WORK 8 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-2.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\8.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 8 END -->
                    <!-- WORK 9 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                        <a class="open-project" href="project-1.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>FUNERARIA</h2>
                                        <hr>
                                        <p>GALINDO</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\masonry\9.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 9 END -->
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">Anthony_Inuma@hotmail.com</a>
        </div>
    </div>
</section>